@import url('https://fonts.googleapis.com/css?family=Bricolage+Grotesque&family=Lato&family=Borel');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');

* {
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--color-on-primary);
    font-family: 'Kanit', sans-serif;
}
.fancy-header {
    font-family: 'Borel', serif;
}
:root {
    --text-color: #212121;
    --color-on-primary: #e0e0e0;
    --primary: #3a433c;
    --secondary: #819688;
    --tertiary: #7296a4;
    --neutral: #8f918e;

    --color-background: #121212;
    --color-text: #e3e3e3;
    --color-button-border: #24c76c;
}
body {
    background-color: var(--color-background);
    max-width: 35cm;
    margin: auto;
}
p {
    color: var(--color-on-primary);
}
.styled-button {
    padding: 8px;
    font-size: 0.9em;
    font-family: 'Lato', sans-serif;
    border-radius: 12px;
    color: var(--color-text);
    border-color: var(--color-button-border);
    background-color: var(--color-background);
}
.page-header-text {
    margin: 12px 24px;
    font-size: 3em;
}
.page-header-banner {
    background-color: #24c76c;
}
.clickable-image {
    cursor: pointer;
}