@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;900&family=Kanit:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --phoneWidth: (max-width: 684px);
    --tabletWidth: (max-width: 900px);
    --color-background: #1F2920;
    --color-background-highlight: #232F24;
    --color-background-highlight-lighter: #384C3A;
    --color-highlight: #9CE391;
    --color-text: #e0e0e0;

    --color-link-unvisited: #c2e8ff;
    --color-link-visited: #ffd7f0;
    --color-link-hovered: #ffdad5;
}
html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 24px 228px;
    /* bottom = footer height + margin */
    background-color: var(--color-background);
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}
.body-container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
img {
    width: 100%;
}
.img-in-paragraph {
    float: right;
    margin-left: 16px;
    margin-bottom: 16px;
    width: 40%;
}
.img-in-paragraph-left {
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
    width: 40%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kanit', 'Lato', sans-serif;
    color: var(--color-text);
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 3rem;
}
h1 {
    font-size: 3rem;
    line-height: 3rem;
}
h2 {
    font-size: 2rem;
    line-height: 2.2rem;
}
h3 {
    font-size: 1.4rem;
    line-height: 1.5rem;
}
h4, h5, h6 {
    font-size: 1.2rem;
    line-height: 1.3rem;
}
.page-title {
    color: var(--color-highlight);
}
strong {
    font-weight: 900;
}
p {
    color: var(--color-text);
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 1.7rem;
}
.callout-box {
    background-color: var(--color-background-highlight);
    border: var(--color-highlight);
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
}
.callout-box-alt {
    background-color: var(--color-background-highlight-lighter);
    border-style: none;
}

/* unvisited link */
a:link {
    color: var(--color-link-unvisited);
}
/* visited link */
a:visited {
    color: var(--color-link-visited);
}
/* mouse over link */
a:hover {
    color: var(--color-link-hovered);
}
hr {
    width: 100%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}
.hr-header {
    border-top: 2px dashed var(--color-highlight);
}
.hr-divider {
    background: var(--color-background-highlight-lighter);
}
.centred {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.width-restricted {
    width: 100%;
    max-width: 960px;
}
ul {
    padding-left: 0;
    list-style: none;
}
li::before {
    content: '–';
    color: var(--color-highlight);
    padding-right: 8px;
}
li {
    color: var(--color-text);
    /* font-weight: 600; */
    display: flex;
    padding-left: 0;
    margin-top: 4px;
    margin-bottom: 4px;
    transition: background-color 0.2s ease-in-out;
}
li:hover {
    background-color: var(--color-background-highlight-lighter);
}
li a {
    width: 100%;
}
li a:link, li a:visited {
    color: var(--color-text);
    text-decoration: none;
}
li a:hover {
    color: #9CE391;
}
.img-gallery-column {
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
}
.img-gallery-column-thirds {
    flex: 25%;
    max-width: 33%;
    padding: 0 4px;
}
.img-gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.img-gallery-row img {
    margin-top: 2px;
    margin-bottom: 2px;
}
.album-img {
    border-radius: 24px;
    transition-duration: 0.1s;
}
.album-img:hover {
    border-radius: 0px;
}
.album-img-text {
    width: 100%;
    height: 100%;
    background-color: aqua;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
}
.album-img-sized {
    width: 33%;
    display: inline-block;
}
@media screen and (max-width: 600px) {
    .img-gallery-column {
        flex: 100%;
        max-width: 100%;
    }
    .img-in-paragraph {
        width: 100%;
    }
    .album-img-sized {
        width: 100%;
    }
}
code {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.9em;
    background-color: var(--color-highlight)/*#D4AB4966*/;
    color: var(--color-background);
    border-radius: 8px;
    padding-left: 6px;
    padding-right: 6px;
}
.light-background {
    background-color: #efefef;
    border-radius: 12px;
    padding: 8px;
}
.small-width {
    max-width: 512px;
}
.quote-container {
    background-color: var(--color-background-highlight-lighter);
    border-radius: 16px;
    padding: 20px;
    margin-top: 16px;
}
.quote-text {
    font-style: italic;
    font-family: "Space Mono", monospace;
}
.quote-by {
    font-size: 1rem;
    font-family: "Space Mono", monospace;
    font-weight: 700;
}
.album-entry {
    /* width: 100%; */
}
.special-text {
    font-family: 'Space Mono', monospace;
}
.special-text-highlight {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}
.clickable {
    cursor: pointer;
}
.text-link:link {
    color: var(--color-text);
}
.text-link:visited {
    color: var(--color-text);
}
.centred-text {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.mouse-box {
    width: 6em;
    height: 6em;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(16, 0, 54, 0.2);
    transition: 0.05s ease-out;
}